.citation {
    color: white;
    margin-top: 80px;
    display: flex;
    align-items: center; 
    flex-direction: column;   
}

.cita-a {
    font-size: 24px;
    opacity: 0.2;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
}

.cita-b {
    font-size: 35px;
    opacity: 0.5;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
}

.cita-c {
    font-size: 46px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
}

.cita-main {
    margin-top: 30px;
    margin-bottom: 150px;
    font-size: 100px;
    font-weight: 600;
    position: relative;
}

.cita-main::after {
    width: 110%;
    content: "...Parce que...";
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(-45deg, #B4FFA1 , #00FFE0 , rgb(251, 143, 255) , #ffd970);
    background-size: 400% 400%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: gradient 6s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.line-b {
    position: absolute;
    left: 0;
    top: 231pc;
}

.guillemet {
    position: absolute;
    left: 25pc;
    top: 223pc;
}

.citation-p { 
    font-size: 48px;
    margin-bottom: 20px;
}

.citation-author {
    font-size: 24px;
    width: 100%;
    margin-left: 100%;
    margin-bottom: 20px;
}

