* {
    text-decoration: none;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1, h2, h3, h4, h5, p {
    margin: 0;
}

body {
    background-color: #131415;
}

.video {
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -100;
}

.video-bg {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
}

header {
    width: 100%;
    min-height: 100vh;
    min-width: 100vh;
    padding: 0;
    position: relative;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 50%, #131415 100%);
}

.marginbg {
    margin-inline: 55px;
}

/*les boutons boutons*/ 

.lien-a {
    position: absolute;
    right: 0;
    margin: 30px;
    display: inline;
}

.lien-a a { 
    text-decoration: none;
    color: white;
    font-size: 16px;
    margin-inline: 20px;
    display: inline-block;
    font-size: 16px;
    padding: 14px 25px;
    margin-left: 15px;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 100px;
    background: black;
    transition: all 0.3s;
}

.lien-a a:hover {
    box-shadow: inset 0 0 0 1px #ffffff;
}

.presentation {
    box-shadow: inset 0 0 0 1px #ffffff;
}

a.projet {
    color: rgba(255, 255, 255, 0.438);
}

/*carte profile*/ 


.cardprofil {
    display: grid;
    place-items: center;
    min-height: 100vh;

}

.bg-profil {
    width: 760px;
    height: 300px;
    padding-inline: 40px;
    border-radius: 60px;
    -webkit-backdrop-filter: blur(15px);
    box-shadow: 0px 4px 200px 30px rgba(13, 37, 255, 0.25);
    backdrop-filter: blur(15px);
    display: flex;
    align-items: center;
    transition: all 0.4s;
}

.bg-profil:hover {
    border: 1px solid rgb(196, 196, 196);
    transform: scale(1.07);
}

.pp {
    width: 220px;
    height: 220px;
    flex-shrink: 0;
    border-radius: 999px;
    transition: all 0.2s;
}

.pp:active {
    transform: scale(0.9);
}

.infoprofil {
    display: flex;
    flex-direction: column;
    margin-left: 4%;
}

.name {
    color: #FFF;
    font-size: 46px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 4%;
}

.bio {
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    width: 70%;
    margin-bottom: 1%;
}

.reseautelecom {
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: relative;
    color: transparent;
    font-weight: bold;
}

.reseautelecom::after {
    content: "Réseau Telecom";
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(-45deg, #B4FFA1 , #00FFE0 , rgb(251, 143, 255) , #ffd970);
    background-size: 400% 400%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: gradient 10s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/*Réseau sociaux*/


.rsociaux {
    margin-top: 10%;
    margin-left: 95%;
    display: flex;
}

.twitter {
    margin-inline: 15px;
    transition: all 0.2s;
}

.linkedin {
    transition: all 0.2s;
}

.instagram {
    transition: all 0.2s;
}

.twitter:hover {
    transform: scale(1.20);
}

.linkedin:hover {
    transform: scale(1.20);
}

.instagram:hover {
    transform: scale(1.20);
}

.mail {
    transition: all 0.2s;
    margin-right: 15px;
}

.mail:hover {
    transform: scale(1.20);
    
}

.scroll a {
    position: absolute;
    bottom: 20px;
    left: 48%;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #fff;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
  }
  
#section a {
    padding-top: 60px;
  }

  #section a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 30px;
    height: 50px;
    margin-left: -15px;
    border: 2px solid #fff;
    border-radius: 50px;
    box-sizing: border-box;
  }

  #section a span::before {
    position: absolute;
    top: 10px;
    left: 50%;
    content: '';
    width: 6px;
    height: 6px;
    margin-left: -3px;
    background-color: #fff;
    border-radius: 100%;
    -webkit-animation: sdb10 2s infinite;
    animation: sdb10 2s infinite;
    box-sizing: border-box;
  }

  @-webkit-keyframes sdb10 {
    0% {
      -webkit-transform: translate(0, 0);
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    80% {
      -webkit-transform: translate(0, 20px);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes sdb10 {
    0% {
      transform: translate(0, 0);
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    80% {
      transform: translate(0, 20px);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }

/*langues*/

.gb {
    position: absolute; 
    bottom: 60px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    text-decoration: none;
    color: white;
}

.english {
    margin-left: 5px;
}
