.metier {
    margin-top: 100px;
}

.metier-title {
    color: white;
    font-size: 24px;
    font-weight: 500;
    margin-left: 15%;
    margin-bottom: 100px;
}

.margincard-metier {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.metier-card {
    display: grid;
    grid-template-columns: repeat(3, 330px);
    grid-template-rows: repeat(2, 330px);
    grid-column-gap: 70px;
    grid-row-gap: 100px;
}  

.metier-card-title {
    color: white;
    margin-bottom: 40px;
    font-size: 32px;
    font-weight: 600;
    margin-left: 10px;
}

.metier-card-p {
    color: white;
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: 500;
    margin-left: 10px;
}

.metier-a {
    border-radius: 40px;
    background: linear-gradient(170deg, #000 7.37%, #0B0036 118.4%);    
    padding: 5%;
}

.metier-b {
    border-radius: 40px;
    background: linear-gradient(170deg, #000 7.37%, #2F0036 118.4%);    
    padding: 5%;
}

.metier-c {
    border-radius: 40px;
    background: linear-gradient(170deg, #000 7.37%, #083600 118.4%);    
    padding: 5%;
}

.metier-d {
    border-radius: 40px;
    background: linear-gradient(170deg, #000 7.37%, #421C1C 118.4%);    
    padding: 5%;
}

.metier-e {
    border-radius: 40px;
    background: linear-gradient(170deg, #000 7.37%, #003633 118.4%);    
    padding: 5%;
}

.metier-f {
    border-radius: 40px;
    background: linear-gradient(170deg, #000 7.37%, #2F3600 118.4%);    
    padding: 5%;
}
