.reorientation {
    color: white;
    margin-top: 100px;
    display: flex;
    align-items: center;    
    flex-direction: column;
    margin-inline: 33%;
}

.reo-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-bottom: 50px;
}

.reo-title h2 {
    color: black;
    padding: 20px;
    border-radius: 1000px;
    background-color: white;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
}

.reorientation p {
    font-size: 20px;
    font-style: normal;
    text-align: center;
}

.quoi-p {
    display: flex;
    justify-content: center;
    color: black;
    padding: 20px;
    border-radius: 30px;
    background-color: white;
    width: 600px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.pourquoi-p {
    display: flex;
    justify-content: center;
    color: black;
    padding: 20px;
    border-radius: 30px;
    background-color: white;
    width: 600px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.pour-quoi-p {
    display: flex;
    justify-content: center;
    color: black;
    padding: 20px;
    border-radius: 30px;
    background-color: white;
    width: 600px;
    margin-top: 20px;
    margin-bottom: 20px;
}