
h1, h2, h3, h4, h5, p {
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: #131415;
    height: 5000px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


header {
    background-color: black;
    width: 100%;
    min-height: 100vh;
    min-width: 100vh;
    padding: 0;
    position: relative;
}

.marginbg {
    margin-inline: 55px;
}

/*boutons*/ 

.lien-a {
    position: absolute;
    right: 0;
    margin: 30px;
    display: inline;
}

.lien-a a { 
    text-decoration: none;
    color: white;
    font-size: 16px;
    margin-inline: 20px;

}



a.projet {
    color: rgba(255, 255, 255, 0.438);
}

/*carte profile*/ 


.cardprofil {
    display: grid;
    place-items: center;
    min-height: 100vh;

}

.bg-profil {
    width: 760px;
    height: 300px;
    padding-inline: 40px;
    border-radius: 60px;
    background: linear-gradient(147deg, #2A2C3A 4.21%, #2B2C33 4.22%, #080A1A 111.89%);
    box-shadow: 0px 4px 200px 30px rgba(13, 37, 255, 0.25);
    backdrop-filter: blur(100px);
    display: flex;
    align-items: center;
    transition: all 0.4s;

}

.bg-profil:hover {
    border: 1px solid rgb(196, 196, 196);
    transform: scale(1.07);
}



.pp {
    width: 220px;
    height: 220px;
    flex-shrink: 0;
    border-radius: 999px;
    transition: all 0.2s;
}

.pp:active {
    transform: scale(0.9);
}

.infoprofil {
    display: flex;
    flex-direction: column;
    margin-left: 4%;
}

.name {
    color: #FFF;
    font-size: 46px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 4%;
}

.bio {
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    width: 70%;
    margin-bottom: 1%;
}

.reseautelecom {
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: relative;
    color: transparent;
    font-weight: bold;
}

.reseautelecom::after {
    content: "Réseau Telecom";
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(-45deg, #B4FFA1 , #00FFE0 , rgb(251, 143, 255) , #ffd970);
    background-size: 400% 400%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: gradient 12s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/*Réseau sociaux*/


.rsociaux {
    margin-top: 10%;
    margin-left: 100%;
    display: flex;
}

.twitter {
    margin-inline: 15px;
    transition: all 0.2s;
}

.linkedin {
    transition: all 0.2s;
}

.instagram {
    transition: all 0.2s;
}

.twitter:hover {
    transform: scale(1.20);
}

.linkedin:hover {
    transform: scale(1.20);
}

.instagram:hover {
    transform: scale(1.20);
}

/*langues*/

.gb {
    position: absolute; 
    bottom: 60px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    text-decoration: none;
    color: white;
}

.english {
    margin-left: 5px;
}

/*Fin header*/

/*Main*/

.apropos {
    color: #FFF;
    font-size: 38px;
    font-weight: 500;

}

main {
    margin-left: 250px;
    margin-right: 250px;
}



.contenu {
    margin-top: 80px;
}

.margincard {
    display: flex;
    justify-content: center;

}

/*grid de card*/

.cardgrid {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(3, 300px);
    grid-row-gap: 40px;
    grid-column-gap: 30px;
}

/*cards*/

/*card-a ------------------------------------------*/

.card-a {
    grid-column-start: 1;
    grid-column-end: 3;
    border-radius: 40px;
    background: linear-gradient(192deg, rgb(0, 56, 255) 5.6%, rgb(23, 0, 90) 97.64%);
    padding: 4%;
    transition: all 0.4s;    
}

.descritpion {
    color: white;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 30px;
}

.descritpion-p {
    color: white;
    font-size: 20px;
    margin-left: 15px;
    transition: all 0.4s;
}

.card-a:hover {
    transform: scale(1.035);
    box-shadow: 0px 4px 200px 30px rgba(13, 37, 255, 0.25);
    backdrop-filter: blur(100px);
}

.card-a:hover .descritpion-p {
    transform: scale(0.95);
}

/*card-b ------------------------------------------*/


.card-b {
    grid-column-start: 3;
    grid-column-end: 4;
    position: relative;
    border-radius: 40px;
    background: linear-gradient(170deg, #00a067 7.37%, rgb(0, 240, 255) 118.4%);
    padding: 7%;
    transition: all 0.4s ease 0s;
}

.age {
    color: white;
    font-size: 28px;
    font-weight: 500;
}

.age-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.age-n {
    position: absolute;
    color: white;
    font-size: 28px;
    font-weight: 400;
}

.circle {
    position: absolute;
    transition: all 0.5s;
}

.card-b:hover .circle {
    transform: rotate(360deg) scale(0.75);
}

.card-b:hover {
    transform: scale(1.035);
    box-shadow: 0px 4px 200px 30px #00c2a82d;
    backdrop-filter: blur(100px);
}

/*card-c ------------------------------------------*/


.card-c {
    grid-column-start: 1;
    grid-column-end: 2;
    border-radius: 40px;
    background: linear-gradient(164deg, #4200FF 10.91%, #FF007A 156.27%);
    padding: 7%;
    transition: all 0.4s;
}

.localisation {
    color: white;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 23%;
}

.ville {
    color: white;
    font-size: 28px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    transition: all 0.4s;
}

.card-c:hover {
    transform: scale(1.035);
    box-shadow: 0px 4px 200px 30px #c200c22d;
    backdrop-filter: blur(100px);
}

.card-c:hover .ville {
    transform: scale(0.9);
}

/*card-d ------------------------------------------*/


.card-d {
    grid-column-start: 2;
    grid-column-end: 4;
    border-radius: 40px;
    background: linear-gradient(192deg, #6C57A7 5.6%, #287373 97.64%);
    padding: 4%;
    transition: all 0.4s;
}

.centre {
    color: white;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 8%;
}

.centredinteret {
    display: flex;
    width: 500px;
    color: white;
    flex-wrap: wrap;
    margin-left: 5%;
}

.interet {
    margin: 15px;
    margin-inline: 30px;
    font-size: 20px;
    transition: all 0.4s;
}

.card-d:hover .interet {
    transform: scale(0.95);
}

.card-d:hover {
    transform: scale(1.035);
    box-shadow: 0px 4px 200px 30px #3400c22d;
    backdrop-filter: blur(100px);
}

/*card-e ------------------------------------------*/


.card-e {
    grid-column-start: 1;
    grid-column-end: 4;
    border-radius: 40px;
    background: linear-gradient(211deg, #F00 -40.3%, #2461FF 128.59%);
    padding: 3%;
    position: relative;
}

.formation-all {
    position: relative;
    display: flex;
    justify-content: center;
}

.formation {
    color: white;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 4%;
}

.bloc-forma {
    display: flex;
    justify-content: space-around;
    z-index: 2;
}

.card-forma {
    padding: 20px;
    width: 170px;
    height: 100px;
    background: black;
    border-radius: 30px;
    margin-inline: 46px;
    transition: all 0.4s;
}

.forma-b {
    margin-bottom: 10%;
    font-size: 20px;
}

.forma-b, .forma-c {
    color: white;
}

.line {
    z-index: 1;
    position: absolute;
    left: 0;
    transform: translateX(-23.6%);
    bottom: 65px; 
}

.card-forma:hover {
    transform: scale(1.035);
    box-shadow: 0px 4px 200px 30px #3400c22d;
    backdrop-filter: blur(100px);
}

/* fin card */

.def {
    display: flex;
    flex-direction: column;
    color: white;
    margin-top: 80px;
    margin-left: 125px;
    font-size: 20px;
}

