.reseautelecom {
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: relative;
    color: transparent;
    font-weight: bold;
}

.reseautelecom::after {
    content: "Telecom network";
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(-45deg, #B4FFA1 , #00FFE0 , rgb(251, 143, 255) , #ffd970);
    background-size: 400% 400%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: gradient 10s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.cita-main::after {
    width: 110%;
    content: "...Because...";
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(-45deg, #B4FFA1 , #00FFE0 , rgb(251, 143, 255) , #ffd970);
    background-size: 400% 400%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: gradient 6s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.design::after {
    content: "Design";
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(-45deg, #B4FFA1 , #00FFE0 , rgb(247, 18, 255) , #ffd970);
    background-size: 400% 400%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: gradient 6s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}